:root {
  --uno: #eee9c7;
  --dos: #4a0f29;
  --tres: #ed7b83;
  --fuente: "Rubik", sans-serif;
}

html {
  background-color: var(--uno);
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: var(--fuente);
  text-align: center;
}

h1 {
  color: var(--tres);
}

.titulo {
  color: var(--dos);
  margin-top: 0;
  padding: 6rem;
}

.titulos {
  color: var(--tres);
}

span {
  font-size: 2rem;
}

.navegacion {
  background-color: var(--dos);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navegacion a {
  color: var(--tres);
  padding: 1em;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.navegacion a:hover {
  background-color: var(--tres);
  color: var(--dos);
}

.contenedor {
  width: auto;
  margin-top: 0rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
  justify-content: space-around;
}

.agrandar-nav {
  background-color: var(--tres);
}

.fondo {
  background-image: url(../img/toronja.jpg);
  background-size: cover;
  height: 40rem;
  width: auto;
}
