:root{
    --uno: #e6d1ca;
    --dos: #ec8a90;
    --tres: #eee9c7;
    --fuente: 'Rubik', sans-serif;
}
html {
    background-color: var(--uno);
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
    text-align: center;
}

.titulos{
    text-align: center;
    color: var(--dos);
    font-family: var(--fuente);
}

.doña-martita{
    font-size: 2rem;
}